.table {
  width: 100%;
  table-layout: fixed;
}

.thclass {
  vertical-align: middle;
  text-align: center;
}

.td {
  vertical-align: top;
  text-align: left;
}

.gray {
  background-color: #3b3636 !important;
}

.mat-header-cell {
  text-align: center;
}

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-column-id {
  flex: 0 0 25% !important;
  min-width: 104px !important;
  vertical-align: top;
}
